body {
	padding:0px; 
	margin:0;
	background:tan; 
	font-size:14px; 
	font-family:Arial, Sans-serif;
}

.logo__img{
	display: block;
	margin: 0 auto;
}

.container {
	width:960px;
	min-height:500px; 
	margin:0 auto;
	padding:20px 20px 20px 20px; 
	background:#fff;
}

.site-top {
	height:70px;
	font-size: 30px;
	color: burlywood;
	text-align: center;
}

.link {
	color:#ffcc99;
}

.link:hover {
	text-decoration:none;
}

.menu__list {
	width:950px;
	height:64px; 
	background: wheat url(images/m1.png);
	repeat-x; 
	padding:0 0 0 10px;
}

.separating-line {
	width:940px;
	height:8px;
	background:tan;
	margin:0 auto;
}

.menu__list .menu__list-ul {
	margin:0; 
	padding:0; 
	list-style:none;
}

.menu__list .menu__list-ul .menu__list-li {
	float:left;
	padding:0 2px 0 0;
}

.menu__list .menu__list-ul .menu__list-li .link {
	display:block;
	height:40px; 
	padding:24px 27px 0 27px; 
	color:#6f4e37;
	text-decoration:none;
	text-transform:uppercase;
}

.menu__list .menu__list-ul .menu__list-li .link:hover {
	color:#fff; 
	background:#6f4e37;
}

.reg-form{
	padding-top: 1em;
	border: 5px solid moccasin;
}

.reg-form__table-caption{
	font-size:18px;
	color: #6f4e37;
	text-align:center;
}

.reg-form__table{
	border-spacing: 25px;
	text-align: center;
	width: 300px;
	margin: auto;
	height: 300px;
}

.reg-form__table-select-label{
	margin-top: 0;
}